{{ template "generic_page" . -}}

{{ define "title" }}Forbidden{{ end -}}

{{ define "header" }}No Credentials Supplied{{ end -}}

{{ define "contents" }}You need to provide an <code>access_token</code> to perform this operation.{{ end }}
