{{ template "generic_page" . -}}

{{ define "title" }}Unauthorized{{ end -}}

{{ define "header" }}No Credentials Supplied{{ end -}}

{{ define "contents" }}<p>You need to provide an <code>access_token</code> to perform this operation. One way to receive an <code>access_token</code> is to sign in on the <a href="/">index page</a>.</p>{{ end -}}
