{{ template "generic_page" . -}}

{{ define "title" -}}
    {{ if .user -}}
        Your Notes
    {{- else -}}
        Notes
    {{- end -}}
{{ end -}}

{{ define "head" -}}
    {{- if not .user -}}
        <meta name="google-signin-client_id" content="{{ .googleClientID }}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {{- end -}}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
{{ end -}}

{{ define "contents" -}}
    {{ if .user -}}
        <form action="/sign_out/" method="post">
            <label>Signed in as {{ .user.FirstName }}{{ if .user.LastName }} {{ .user.LastName }}{{ end }} |</label>
            {{ template "csrf_token_field" $ }}
            <input type="submit" value="Sign out">
            <span> | </span><button type="button" onclick="document.location.href='/settings'; return false;">Settings</button>
        </form>
        <br>
        <form action="/note/" method="post">
            <input type="text" name="note_name">
            {{ template "csrf_token_field" $ }}
            <input type="submit" value="Create a new note" onclick="let form = event.target.parentElement; form.submit(); form.reset(); return false;">
        </form>
        {{ if ne (len .user.Notes) 0 -}}
            <ol>
            {{ range .user.Notes -}}
                <li>
                    <form action="/note/{{ .ID }}/delete/" method="post">
                        <a href="/note/{{ .ID }}">{{ .Name }}</a>
                        {{ template "csrf_token_field" $ }}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {{ end -}}
            </ol>
        {{- else -}}
            <p>You haven't created any notes yet!</p>
        {{- end -}}
    {{- else -}}
        <p>It seems like you're not signed in!</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script>
            async function onSignIn(googleUser) {
                const idToken = googleUser.getAuthResponse().id_token;
                let requestForm = new FormData();
                requestForm.set("id_token", idToken);
                await fetch("/api/sign_in/", {
                    method: "POST",
                    body: requestForm,
                });
                location.reload();
            }
        </script>
    {{- end -}}
{{ end -}}
