{{ template "generic_page" . -}}

{{ define "title" -}}
    {{ if .user -}}
        Your Notes
    {{- else -}}
        Notes
    {{- end -}}
{{ end -}}

{{ define "head" -}}
    {{ if not .user }}
        <meta name="google-signin-client_id" content="{{ .googleClientID }}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {{ end }}
{{ end -}}

{{ define "header" -}}
    {{ template "title" . -}}
{{ end -}}

{{ define "contents" -}}
    {{ if .user -}}
        <p>Signed in as {{ .user.FirstName }}{{ if .user.LastName }} {{ .user.LastName }}{{ end }} | <a href="#" onclick="signOut();">Sign out</a></p>
        <script>
            async function signOut() {
                let requestForm = new FormData();
                requestForm.set("csrf_token", "{{ .csrfToken }}")
                await fetch("/api/logout/", {
                    method: "POST",
                    body: requestForm,
                });
                location.href = "";
            }
        </script>
        {{ if ne (len .user.Notes) 0 -}}
            <ol>
            {{- range .user.Notes -}}
                <li><a href="/note/{{ .ID }}">{{ .Name }}</a></li>
            {{- end -}}
            </ol>
        {{- else -}}
            <p>You haven't created any notes yet!</p>
        {{- end -}}
    {{- else -}}
        <p>It seems like you're not logged in!</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script>
            async function onSignIn(googleUser) {
                const idToken = googleUser.getAuthResponse().id_token;
                let requestForm = new FormData();
                requestForm.set("id_token", idToken);
                console.log(await fetch("/api/login/", {
                    method: "POST",
                    body: requestForm,
                }));
                location.reload();
            }
        </script>
    {{- end -}}
{{ end -}}
