{{ template "generic_page" . }}

{{ define "title" }}Note Not Found{{ end }}

{{ define "header" }}{{ template "title" }}{{ end }}

{{ define "contents" }}Note with ID {{ .noteID }} was not found.{{ end }}
