{{ template "generic_page" . }}

{{ define "title" }}{{ .note.Name }} - Your Notes{{ end }}

{{ define "header" }}{{ template "title" . }}{{ end }}

{{ define "contents" }}{{ .note.Contents }}{{ end }}
