{{ template "generic_page" . -}}

{{ define "title" }}Forbidden{{ end -}}

{{ define "header" }}Note Is Inaccessible{{ end -}}

{{ define "contents" }}<p>Note with ID {{ .noteID }} does not belong to you.</p>{{ end -}}
