{{ template "generic_page" . -}}

{{ define "title" }}Settings{{ end -}}

{{ define "contents" }}
<form action="/settings/change_first_and_last_name/" method="post">
    {{ template "csrf_token_field" $ }}
    <label>Here you can change your first and last name, respectively:</label>
    <br />
    <input type="text" name="first_name" value="{{ .user.FirstName }}">
    <input type="text" name="last_name" value="{{ .user.LastName }}">
    <input type="submit" value="Submit changes">
</form>
<hr>
<form action="/settings/sign_out_everywhere/" method="post" onsubmit="return confirm('Do you really want to sign out everywhere?');">
    {{ template "csrf_token_field" $ }}
    <input type="submit" value="Sign out everywhere">
</form>
<hr>
<form action="/settings/delete_all_notes/" method="post" onsubmit="return confirm('Do you really want to delete all of your notes?');">
    {{ template "csrf_token_field" $ }}
    <input type="submit" value="Delete all of my notes">
</form>
{{ end -}}
